@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2 {
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* Flex */
.flex-set {
  width: calc(100% + 2.5rem);
}

.flex-item {
  width: calc(25% - 2.5rem);
  line-height: 1px;
}

@media screen and (max-width: 1023px) {
  .flex-set {
    width: calc(100% + 2rem);
  }
  .flex-item {
    width: calc(33.333% - 2rem);
  }
}

@media screen and (max-width: 767px) {
  .flex-set {
    width: calc(100% + 1.5rem);
  }
  .flex-item {
    width: calc(50% - 1.5rem);
  }
}
/* Input */
.input {
  transition: border 0.2s ease-in-out;
  min-width: 280px
}
.input:focus+.label,
.input:active+.label,
.input.filled+.label {
  font-size: .75rem;
  transition: all 0.2s ease-out;
  top: -0.1rem;
  color: #000;
}
.label {
  transition: all 0.2s ease-out;
  top: 0.4rem;
  left: 0;
}